@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;padding: 0;
    font-family: 'poppins',sans-serif;
    height: 100vh;
    /* @apply bg-slate-200 */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(188, 208, 230));
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dae6ff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5618ff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3000b3; 
  }

  .input-form{
    @apply p-1 grid gap-2 my-2
  }
  .input-form > label{
    @apply font-semibold
  }
  .input-form > input{
    @apply border rounded-md p-1 px-2 
  }

  .icon{
    color: white;
    font-size: 19px;
  }

  .active{
    @apply bg-indigo-600
  }

  